//Importaciones de las tipografias usadas
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Estilos globales
.body {
  background-color: #FFFFFF; /* Fondo Principal Blanco */
  color: #2C3E50; /* Texto en Azul Marino */
  font-family: 'Lato', sans-serif; /* Fuente Principal */
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Merriweather', serif; /* Fuente para Encabezados */
  color: #2C3E50; /* Color Azul Marino */
}

//Estilo para la parte del navbar
.custom-navbar {
  background-color: #2C3E50; /* Fondo en Azul Marino */
}

.custom-navbar-text {
  color: #FFFFFF; /* Texto en Blanco */
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
