
.welcome-section {
  margin: 20px;

  .welcome-card {
    display: flex;
    align-items: flex-start; /* Alinea la parte superior */
    justify-content: space-between;
    background-color: #f1faee;
    border-radius: 10px;
    padding: 40px; /* Incrementa el padding para más espacio */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .welcome-text {
      flex: 1; /* Ocupa el espacio disponible */
      margin-right: 30px; /* Agrega espacio entre el texto y la imagen */
      h1 {
        font-size: 2.9em;
        font-weight: bold;
        color: #1d3557;
        margin-bottom: 15px;
      }
      p {
        font-size: 1.3em; /* Ajusta el tamaño del texto */
        font-style: oblique;
        font-weight: 500;
        color: #457b9d;
      }
    }

    .welcome-image {
      flex-shrink: 0; /* Asegura que la imagen no cambie de tamaño */
      img {
        width: 200px; /* Incrementa el tamaño de la imagen */
        height: auto;
      }
    }
  }
}


.instructions {
  margin: 20px; /* Igualamos el margen */
  margin-left: 20px; /* Alinea la sección con las demás */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.survey-section {
  margin: 20px;

  h3 {
    color: #1d3557;
    margin-bottom: 15px;
  }

  ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;

    li {
      display: flex;
      justify-content: space-between;
      background: #f8f9fa;
      margin: 10px 0;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      /* Corregir los tres puntitos */
      .survey-item {
        display: flex;
        justify-content: space-between;
        width: 100%;

        span {
          white-space: nowrap; /* Evita saltos de línea */
          overflow: hidden; /* Oculta el texto que desborde */
          text-overflow: ellipsis; /* Evita los tres puntitos */
        }

        button {
          background-color: #457b9d;
          color: white;
          border: none;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #1d3557;
          }
        }
      }
    }
  }
}
