.stats-section {
  padding: 20px;

  .stats-cards {
    display: flex; /* Alinea las tarjetas horizontalmente */
    justify-content: space-around; /* Espaciado entre las tarjetas */
    gap: 20px; /* Espacio entre las tarjetas */

    .card {
      flex: 1; /* Hace que las tarjetas tengan el mismo tamaño */
      max-width: 600px; /* Define un ancho máximo para las tarjetas */
      padding: 40px;
      background-color: #ffffff; /* Fondo blanco */
      border-radius: 10px; /* Bordes redondeados */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      h3 {
        margin-bottom: 10px;
        color: #457b9d; /* Color del título */
        font-size: 1.2em;
      }

      p {
        font-size: 2em;
        font-weight: bold;
        color: #1d3557; /* Color del número */
      }

      &:hover {
        transform: translateY(-5px); /* Efecto de elevación */
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
      }
    }
  }
}
