//Importaciones de las tipografias usadas
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Estilos globales
.body {
  background-color: #FFFFFF; /* Fondo Principal Blanco */
  color: #2C3E50; /* Texto en Azul Marino */
  font-family: 'Lato', sans-serif; /* Fuente Principal */
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Merriweather', serif; /* Fuente para Encabezados */
  color: #2C3E50; /* Color Azul Marino */
}

//Esta parte es el estilo del titulo
.text-title {
  color: #2C3E50; /* Azul Marino */
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.custom-hr {
  border: 3px solid #7F8C8D; /* Gris Oscuro y más gruesa */
  width: 100%; /* Ajusta el ancho si es necesario */
  margin-top: 0.5rem; /* Espacio opcional entre el texto y la línea */
}

.text-title2 {
  color: #1ABC9C; /* Verde sueve */
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


// Estilos para alinear las opciones y los radios
.question-container {
  margin-bottom: 1.5rem; // Espacio entre preguntas
}

.question-header {
  background-color: #2C3E50; // Color de fondo gris oscuro
  font-weight: bold; /* Extra-bold, muy grueso */
  color: #f8f9fa; // Color del texto blanco
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0.5rem; // Espaciado interior
  border-radius: 0.25rem 0.25rem 0 0; // Esquinas redondeadas en la parte superior
}

.options-container {
  display: flex; // Utiliza flexbox para alinear elementos
  justify-content: space-between; // Espacio entre las opciones
  align-items: center; // Alinea verticalmente los elementos
  background-color: #1ABC9C; // Color de fondo
  font-weight: bold; /* Extra-bold, muy grueso */
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 1rem; // Espaciado interior
  border: 1px solid #ddd; // Borde alrededor del contenedor de opciones
  border-radius: 0 0 0.25rem 0.25rem; // Esquinas redondeadas en la parte inferior
}

.form-check-label {
  display: flex; // Flexbox en el label
  flex-direction: column; // Coloca el texto encima del input
  align-items: center; // Alinea el contenido al centro
  text-align: center; // Centra el texto
  margin: 0 0.5rem; // Espaciado horizontal entre las opciones
}

.form-check-input {
  margin-top: 0.5rem; // Espacio entre el texto y el input
}




/* Estilo base para los botones */
.page-link {
  color: #17a2b8;
  background-color: white; /* Azul Bootstrap o color base de tu paleta */
  border: 1px solid #17a2b8;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover: cuando el cursor está sobre el botón */
.page-link:hover {
  background-color: #138496; /* Un tono más oscuro que el color base */
  color: white; /* Texto permanece blanco */
  border-color: #138496;
  cursor: pointer;
}

/* Active: cuando el botón es clicado */
.page-link:active {
  background-color: #0f6674; /* Un color más oscuro para el clic */
  color: white;
  border-color: #0f6674;
  transform: scale(0.98); /* Simulación de 'presionado' */
}

/* Para el botón deshabilitado (opcional) */
.page-item.disabled .page-link {
  background-color: #e0e0e0;
  color: #6c757d;
  border-color: #e0e0e0;
}
