// Estilos de tipografía y colores
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap');

// Configuración global de colores y fuentes
body {
  background-color: #FFFFFF;
  color: #2C3E50;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  color: #2C3E50;
}

// Encabezados de texto
.text-title, .text-title2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-optical-sizing: auto;
}

// Personalización de las opciones
.question-container {
  margin-bottom: 1.5rem;
}

.question-header {
  background-color: #2C3E50;
  color: #f8f9fa;
  padding: 0.5rem;
  border-radius: 0.25rem 0.25rem 0 0;
  font-weight: bold;
}

.options-container {
  display: flex;
  justify-content: space-between;
  background-color: #1ABC9C;
  padding: 1rem;
  border-radius: 0 0 0.25rem 0.25rem;
}

.form-check-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0.5rem;
}

.form-check-input {
  margin-top: 0.5rem;
}

// Estilos de la paginación
.page-link {
  color: #17a2b8;
  background-color: white;
  border: 1px solid #17a2b8;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.page-link:hover {
  background-color: #138496;
  color: white;
}

.page-link:active {
  background-color: #3eaca0;
  color: white;
  transform: scale(0.98);
}

.page-item.disabled .page-link {
  background-color: #e0e0e0;
  color: #6c757d;
  border-color: #e0e0e0;
}

/* Clase para resaltar la página activa */
.active-page .page-link {
  background-color: #53c1b4; /* Color verde para la página activa */
  color: white; /* Texto blanco para la página activa */
  font-weight: bold;
}

.page-item .page-link {
  color: black; /* Color por defecto para las páginas no activas */
}

.page-item .page-link:hover {
  background-color: #f0f0f0; /* Color de fondo cuando el usuario pasa el cursor por encima */
}

