<!--Aqui van las preguntas del cuestionario-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="container mt-4">
        <h1 class="text-title">Cuestionario de actitudes de servicio comunitario</h1>
        <hr class="custom-hr">
        <h5 class="text-title2 py-2">
          Lea cuidadosamente cada oración y seleccione la opción que mejor describa su reacción a cada afirmación.
        </h5>

        <form>
          <!-- Mostramos solo las preguntas de la página actual -->
          <div *ngFor="let question of currentQuestions; let i = index" class="question-container">
            <div class="question-header">
              <p><strong>{{ question }}</strong></p>
            </div>
            <div class="options-container">
              <label class="form-check-label" *ngFor="let option of options; let j = index">
                <span>{{ option }}</span>
                <input class="form-check-input" type="radio" [(ngModel)]="selections[(currentPage - 1) * questionsPerPage + i]"
                  [value]="j+1"
                  [name]="'question' + ((currentPage - 1) * questionsPerPage + i)">
              </label>
            </div>
          </div>
        </form>

        <!-- Paginación visual -->
        <nav aria-label="Page navigation" class="mt-4">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="goToPage(currentPage - 1)">Anterior</a>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
              <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="goToPage(currentPage + 1)">Siguiente</a>
            </li>
          </ul>
        </nav>


        <!-- Mostrar la página actual -->
        <div class="text-center mt-3">
          Página {{ currentPage }} de {{ totalPages }}
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
