
body {
  font-family: 'Nunito Sans', sans-serif;
}

.title {
  font-size: 1.9em;
  font-weight: bold;
  color: #2C3E50;
  margin: 0;
}

.subtitle{
  font-style: oblique;
  font-weight: 500;
  color: gray;
}

.gradient-form {
  background: linear-gradient(to right, #53c1b4, #f8fcfc);
}

.gradient-custom-2 {
  background: linear-gradient(to right, #53c1b4, #2C3E50);

  h4 {
    font-size: 2rem; // Tamaño del título
    font-weight: bold; // Negrita para el título
  }

  p {
    font-size: 1.2rem; // Tamaño del párrafo
    line-height: 1.6; // Espaciado entre líneas
  }

  @media (max-width: 768px) {
    h4 {
      font-size: 1.5rem; // Tamaño ajustado para pantallas pequeñas
    }

    p {
      font-size: 1rem; // Tamaño ajustado para pantallas pequeñas
    }
  }

}

.card {
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;; // Aplica la fuente personalizada
}



.btn {
  transition: all 0.1s ease;
}

//Botón de login
.btn-outline-info {
  background-color: transparent; // Fondo transparente inicialmente
  border: 2px solid #53c1b4; // Borde con color azul oscuro
  color: #53c1b4; // Texto con color azul oscuro
  transition: all 0.3s ease; // Suavizar la transición al hover o clic
}

.btn-outline-info:hover,
.btn-outline-info:focus {
  background-color: #53c1b4; // Fondo azul claro al pasar el mouse o hacer clic
  border-color: #53c1b4; // Borde cambia al azul claro
  color: white; // Texto cambia a blanco
}

//Registro De Cuenta Nueva
.btn-outline-primary {
  background-color: transparent; // Fondo transparente inicialmente
  border: 2px solid #53c1b4; // Borde con color azul oscuro
  color: #53c1b4; // Texto con color azul oscuro
  transition: all 0.3s ease; // Suavizar la transición al hover o clic
}

.btn-outline-secondary{
  border: 2px solid;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background-color: #53c1b4; // Fondo azul claro al pasar el mouse o hacer clic
  border-color: #53c1b4; // Borde cambia al azul claro
  color: white; // Texto cambia a blanco
}
