
<div class="wave-background"></div> <!-- Fondo con curva -->

<div class="container d-flex justify-content-center align-items-center alto">
    <!-- Contenedor principal con texto e imagen alineados -->
    <div class="content">
        <div class="text-content">
            <h1 class="title">CSAS</h1>
            <p class="subtitle">"Sé parte del cambio. ¡Expresa tus actitudes hacia el servicio!"</p>
            <button class="login-button">Login</button>
        </div>
        <div class="image-content">
            <img src="assets/Imagen/ilustracion_1.png" alt="Imagen decorativa" class="decorative-image">
        </div>
    </div>
</div>
