
.wave-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115vh; /* Alinea la altura al 100% de la pantalla */
  background-image: url('../../../assets/Imagen/Wave-vector.png'); /* Ruta de la imagen */
  background-color: #f8fcfc;
  background-repeat: no-repeat;
  background-size: cover; /* Cubre todo el fondo */
  background-position: center; /* Centra la imagen */
  z-index: -1; /* Coloca el fondo detrás del contenido */
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: transparent;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    padding: 20px; /* Agrega espacio interno para separación */
    z-index: 1; /* Asegura que el contenido esté sobre el fondo */

    .text-content {
      text-align: center;
      margin-right: 90px; /* Espacio entre el texto y la imagen */
      color: #091b1b;

      .title {
        font-size: 3em;
        font-weight: bold;
        margin: 0;
      }

      .subtitle {
        font-size: 1.5em;
        color: #cc71c6;
        margin: 10px 0;
        font-weight: 600; /* Semi-bold */
      }

      .login-button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #53c1b4;
        color: #091b1b;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
        font-weight: 650; /* Semi-bold */

        &:hover {
          background-color: #45a494;
        }
      }
    }

    .image-content {
      max-width: 80%; /* Ajusta el ancho máximo de la imagen */
      display: flex;
      justify-content: center;
      align-items: center;

      .decorative-image {
        width: 110%; /* Hace que la imagen ocupe todo el ancho del contenedor */
        max-width: 600px; /* Tamaño máximo de la imagen */
      }
    }
  }
}
